<div class="bg-light px-4 text-uppercase font-weight-bold" style="padding: 1.20em;">
    Order Address
</div>
<div class="p-4">
    <p class="font-italic mb-4">Address to shipping</p>
    <ul class="list-unstyled mb-4">
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Name</strong>
            <strong>{{address.name}}</strong>
        </li>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Number</strong>
            <strong>{{address.numberOfHouse}}</strong>
        </li>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Street</strong>
            <strong>{{address.street}}</strong>
        </li>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">City</strong>
            <strong>{{address.city}}</strong>
        </li>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Postcode</strong>
            <strong>{{address.postCode}}</strong>
        </li>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Phone To Contact</strong>
            <strong>{{address.telephoneNumber}}</strong>
        </li>
    </ul>
</div>
