<div class="container mt-5">
    <div class="row">
        <div class="col-12">
        <div class="row">
        <div class="col-6 mb-2">
            <ngb-datepicker #dp (dateSelect)="onDateSelection($event)" [dayTemplate]="t"[displayMonths]="displayMonths" [navigation]="'select'"
            [showWeekNumbers]="showWeekNumbers" [outsideDays]="outsideDays">
            </ngb-datepicker>
            
            <ng-template #t let-date let-focused="focused">
              <span class="custom-day"
                    [class.focused]="focused"
                    [class.range]="isRange(date)"
                    [class.faded]="isHovered(date) || isInside(date)"
                    (mouseenter)="hoveredDate = date"
                    (mouseleave)="hoveredDate = null">
                {{ date.day }}
              </span>
            </ng-template>
        </div>
        <div class="col-6">
            <input style="width: 40%;" class="ml-3" [(ngModel)]="point" (change)="pointChange()" type="text" placeholder="Point">
        </div>
        
        </div>
            <table class="table table-hover" style="cursor: pointer;">
                <thead class="thead-light">
                    <tr>
                        <th>Order</th>
                        <th>Date</th>
                        <th>Total</th>
                        <th>Point</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let order of orders" routerLink="/orders/{{order.id}}">
                        <th># {{order.id}}</th>
                        <td>{{order.orderDate | date: 'medium'}}</td>
                        <td>{{order.total | currency}}</td>
                        <td>{{order.point}}</td>
                        <td>{{order.status}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
